/* font-family: 'Raleway', sans-serif;

font-family: 'Roboto', sans-serif;

font-family: 'Roboto Condensed', sans-serif;

font-family: 'Source Sans Pro', sans-serif; */

.selected {
  border-bottom: 5px solid #5ece7b;
}

.out-of-stock {
  background-color: palevioletred;
}

.active li {
  border-bottom: 5px solid #5ece7b;
  color: #5ece7b;
}

li {
  /* list-style: none; */
}

a {
  text-decoration: none;
}
